.vertical{
    width:1px;
    height: 100%;
}
.left {
    text-align: center;
}
.right{
    float: left;
}
.middle {
    text-align:center;
}
.multi_image{
    background: url('../images/gplaypattern.png');
}