.vertical {
    width: 1px;
    height: 100%;
}

.left {
    text-align: center;
}

.right {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    max-width: 90px;
}

.middle {
    text-align: center;
}

.multi_image {
    background: url('../images/gplaypattern.png');

}

.min {

    min-width: 90px;
}
