@font-face {
    font-family: BrandonGrotesque;
    src: url("../font/Brandon_reg.otf")
}

.portfolio {
    color: white;
    font-family: BrandonGrotesque;
    text-align: center;
}

.portfolio h2 {
    color: black;
}

.zoom {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1e262c;
}

.background-portfolio:hover .overlay {
    opacity: 0.9;
    transition: 1s;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.background-portfolio {
    background-color: #1e262c;
    padding: 0;
}

@media (max-width: 990px) {
    .marTop {
        margin-top: 20px;
    }
}

button {
    border: 3px solid white;
    background: #1e262c;
    padding: 8px 40px;
    transition: 0.6s;
}

button:hover {
    background: #2e262c;
    border: 3px solid gray;
}